<h1>Login</h1>
<form action="/sessions" method="post">
  <p>
    <label for="user[email]">Email:</label>
    <input id="user[email]" type="text" name="user[email]" />
  </p>
  <p>
    <label for="user[email]">Password:</label>
    <input id="user[email]" type="password" name="user[password]" />
  </p>
  <p>
    <input type="submit" value="Login" />
  </p>
</form>