<h1>This is the Model's index page.</h1>
<p>Welcome <%= current_user && "#{current_user.email}, " %><a href="/posts/new">Create a new Post</a></p>

<% @posts.each do |post| %>
  <p><a href="/posts/<%= post.id %>"><%= post.title %></a></p>
<% end %>

